[Unit]
Description=PipeWire automatic links and monitoring
After=pipewire.service
Requires=pipewire.service
PartOf=pipewire.service

[Service]
Type=simple
ExecStart=%h/.cargo/bin/rust-script %h/.config/pipewire/links.rs
Restart=on-failure
RestartSec=3

[Install]
WantedBy=pipewire.service
