* filter=git-crypt diff=git-crypt

.git/ !filter !diff
.git-crypt/ !filter !diff
.git* !filter !diff
**/.git* !filter !diff

gpg_key.asc.gpg !filter !diff
README.md !filter !diff
.zshrc !filter !diff
.zshenv !filter !diff
Scripts/ !filter !diff
ai_custom_instructions.c !filter !diff

.config/nvim/** !filter !diff
.config/git/** !filter !diff
.config/tmux/** !filter !diff
.config/kitty/** !filter !diff
.config/rustfmt/** !filter !diff
.config/waybar/** !filter !diff
.config/gammastep/** !filter !diff
.config/fontconfig/** !filter !diff
.config/neofetch/** !filter !diff
