gpg_key.asc
.password-store/


# Screenshots
Pictures/Screenshots/

# Game save files that change on every play session
*.sav

# Moved runtime/state data
.local/share/cargo/
.local/share/rustup/
.local/share/pki/
.local/share/vim/
.local/state/
.cache/nv/

# Node.js artifacts (global)
node_modules/
package-lock.json

