/* User custom styles */


#workspaces button {
    animation: none;
    transition: none;
}

#workspaces button.active {
    animation: none;
    transition: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
}

#workspaces button:hover {
    animation: none;
    transition: none;
}
