(
    tapping_term_ms: 130,
    double_tap_window_ms: None,
    enabled_keyboards: Some([
        "362d:0210:0111:0003",
        "2e3c:c365:0110:0003",
    ]),
    remaps: {
        KC_LALT: TO(L_NAV),
        KC_L: HR(KC_L, KC_RALT),
        KC_D: HR(KC_D, KC_LCTL),
        KC_CAPS: Key(KC_ESC),
        KC_K: HR(KC_K, KC_RCTL),
        KC_J: HR(KC_J, KC_RSFT),
        KC_ESC: Key(KC_GRV),
        KC_A: HR(KC_A, KC_LGUI),
        KC_F: HR(KC_F, KC_LSFT),
        KC_S: HR(KC_S, KC_LALT),
        KC_SCLN: HR(KC_SCLN, KC_RGUI),
    },
    layers: {
        L_NAV: (
            remaps: {
                KC_J: Key(KC_DOWN),
                KC_L: Key(KC_RGHT),
                KC_H: Key(KC_LEFT),
                KC_BSPC: Password,
                KC_D: Key(KC_LCTL),
                KC_S: Key(KC_LALT),
                KC_A: Key(KC_LGUI),
                KC_F: Key(KC_LSFT),
                KC_K: Key(KC_UP),
            },
        ),
    },
    game_mode: (
        remaps: {
            KC_S: Socd(KC_S, KC_W),
            KC_A: Socd(KC_A, KC_D),
            KC_D: Socd(KC_D, KC_A),
            KC_ESC: Key(KC_GRV),
            KC_CAPS: Key(KC_ESC),
            KC_W: Socd(KC_W, KC_S),
        },
    ),
    keyboard_overrides: {},
)