discord/
mozilla/
QtProject.conf
DankMaterialShell/.changelog-*
DankMaterialShell/.firstlaunch
cosmic/
dconf/user
dgop/colors.json
parallel/tmp/
pulse/cookie
vlc/vlc-qt-interface.conf
vlc/vlcrc
rncbc.org/
autostart/
GitHub/
containers/storage.conf
fish/config.fish
gh/hosts.yml
obs-studio/logs/
obs-studio/profiler_data/
obs-studio/basic/profiles/
obs-studio/basic/scenes/
obs-studio/plugin_config/
obs-studio/plugin_manager/
obs-studio/user.ini
obs-studio/global.ini
pavucontrol.ini
pupgui/config.ini
zsh/.zcompdump
