discord/
VirtualBox/
mozilla/
thorium/
QtProject.conf
DankMaterialShell/.changelog-*
DankMaterialShell/.firstlaunch
cosmic/
dconf/user
dgop/colors.json
parallel/tmp/
pulse/cookie
vlc/vlc-qt-interface.conf
vlc/vlcrc
rncbc.org/
autostart/
GitHub/
containers/storage.conf
fish/config.fish
gh/hosts.yml
pavucontrol.ini
pupgui/config.ini
zsh/.zcompdump
